<!-- footer  -->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <%= image_tag "logo-white.png", id: "logo-footer", class: "hidden-xs" %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <ul class="text-center">
          <li><%= link_to 'Qui sommes nous ?', root_path %></li>
          <li><%= link_to 'FAQ', faq_path %></li>
          <li><%= link_to 'Presse', faq_path %></li>
          <li><%= link_to 'Contact', new_message_path %></li>
          <li><%= link_to 'CNIL', root_path %></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2">
        <%= image_tag "logo-BFA.png", class: "hidden-xs" %>
      </div>
    </div>
  </div>
</div>
